.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #444452;
  }
  
  .about {
    width: 65%;
    height: calc(97vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    background-color: #FFFFFF;
    color: #444452;
    padding-left: 20%;
  }
  

  #name {
    color: #007BFF;
  }

  .about h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: #444452;
    height: 50px;
  }
  
  .about .prompt {
    width: 70%;
    font-size: 30px;
    line-height: 1.6;
  }
  .prompt svg {
    font-size: 60px;
    margin: 5px;
    color: white;
  }

  .background {
    font-size: 40px;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 15%;
    padding-bottom: 116px;
  }

  .background h1 {
    font-size: 30px;
    color: #007BFF;
  }

  .background-text {
    width: 60%;
  }

  .background-text span {
    font-weight: bold;
  }

  .background p {
    font-size: 15px;
    line-height: 1.8;
  }

  .skills-section {
    font-size: 40px;
    width: 72%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 15%;
  }

  .skills-section h1 {
    font-size: 30px;
    color: #007BFF;
  }
  
  .skills {
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start;
  }

  .skills h2 {
    font-size: 20px;
  }
  
  .skills .list {
    list-style: none;
    width: 60%;
  }
  
  .list span {
    font-size: 20px;
  }

  .skills-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .item {
    margin: 10px 0;
    background-color: #f8f6f6;
    text-align: center;
    font-size: 17px;
    display: table;
  }
  
  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 40px;
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    .skills {
      text-align: center;
    }
    .list {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
      color: #007BFF;
    }
  }