.project {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #444452;
}

.project h1 {
  margin-top: 150px;
  font-size: 35px;
}
.project img {
  width: 20%;
  border-radius: 10px;
}

.project .description {
  width: 40%;
  font-size: 15px;
  line-height: 1.6;
}

.project h2 {
  font-size: 20px;
  color: #007bff;
}

.skills {
  margin-top: 0px;
  font-size: 20px;
}

.project svg {
  font-size: 60px;
}

.project svg:hover {
  font-size: 60px;
  color: #007bff;
}
